%clear {
  clear: both;
}

a {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none !important;
  }
}

%rtl,
.rtl {
  direction: rtl;
}

%ltr,
.ltr {
  direction: ltr;
}

%block-el {
  display: $disblock;
}

%bg-white {
  background-color: $pure-white-color;
}

%mt {
  margin-top: $half-em !important;
}

%mb {
  margin-bottom: $half-em !important;
}

%ml {
  margin-left: $half-em !important;
}

%mr {
  margin-right: $half-em !important;
}

%no-padding,
.no-padding {
  padding: $zero !important;
}

%transition-normal {
  @include transition(all .4s);
}

%no-padding-side {
  padding-left: $zero !important;
  padding-right: $zero !important;
}

%round-corner {
  @include radius($all: true);
}

%box-style {
  @extend %round-corner;
  @extend %bg-white;

  border: solid 1px $ultralight-gray-color;
}

%wrapper {
  margin: $zero auto;
  max-width: 1200px;
}

%tooltip-inner {
  font-family: $font-stack;
  min-width: 100px;
}

dl {
  margin-bottom: 20px;
  margin-top: $zero;
}

dd {
  margin-right: $zero;
}

%full-of-parent {
  display: $disblock;
  height: $full-size;
  width: $full-size;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: $pure-white-color !important;
}
