@import "variables";
@import "normalize-scss/sass/normalize";
@import "mixins";
@import "essential";
@import "samim";
@import "font-awesome/scss/font-awesome";

body {
  background-color: $medium-white-color !important;
  margin: $ziro;
  padding: $ziro;
  font-size: $body-default-font-size !important;
  font-family: $font-stack;
}

// top navigation of website
.nav-top {
  @extend .transition-normal;
  @extend .wrapper;
  @extend .clear;
  @extend .box-style;

  padding: $ziro $half-em;
  margin : 2em auto $half-em auto;
  height: auto;
  min-height: $nav-height;
  width: $full-size;

  &.sticky {
    @include radius($ziro, $all: true);
    @include box-shadow($ziro, 1px, 5px, $light-gray-color);
    @extend .transition-normal;

    border: transparent;
    border-bottom: solid 1px $ultralight-gray-color;
    margin-top: $ziro;
    position: $fixed;
    right: $ziro;
    left: $ziro;
    top: $ziro;
    z-index: 2;
    max-width: $full-size;
    width: $full-size;

    .navbar-default {
      @include radius($ziro, $all: true);
    }
  }

  .navbar {
    margin-bottom: $ziro;
  }

  .navbar-default {
    @extend .round-corner;

    background-color: transparent;
    border:none;
    min-height: $nav-height - 2px;
    max-width: $full-size;

    .navbar-nav {
      padding: $ziro;
    }

    .navbar-nav > li {
      @extend .transition-normal;

      height: $nav-height - 2px;

      &:nth-child(2) {
        margin-right: 5px;
      }

      > a {
        @extend .transition-normal;

        color: $dark-orange-color;
        width: $full-size;
        height: $full-size;
        position: $relative;
        line-height: $nav-height - 2px;
        padding: $ziro $full-em;
        text-align: $center;

        &::before {
          @extend .transition-normal;

          background-color: $ultralight-orange-border-color;
          content: '';
          height: 2px;
          position: $absolute;
          bottom: $ziro;
          right: $ziro;
          width: $ziro;
        }

        &:hover::before {
          width: $full-size;
        }

        &.icons {
          color: $medium-orange-color;
        }
      }

      &:hover {
        background: #f1fbcc;
      }

      &.logo-holder {
        &:hover {
          background: none;
        }

        a {
          line-height: 45px;
          padding: $ziro;

          img {
            @include radius($full-size, $all: true);

            border: solid 1px $ultralight-orange-border-color;
            width: 40px;
          }
        }
      }
    }
  }
}
// end of top navigation of website

// header of website
header {
  @extend .wrapper;
  @extend .clear;
  @extend .box-style;
  @extend .transition-normal;

  background: url("../images/tav-banner2.jpg") right center;
  margin-bottom: $half-em;
  height: 200px;
  position: $relative;
  width: $full-size;

  &.sticky-header {
    margin-top: 80px;
  }

  &::before {
    content: '';
    position: $absolute;
    width: 77px;
    height: 79px;
    background: url("../images/flag.png") no-repeat;
    left: -5px;
    top: -5px;
  }
}

  .lang-container {
    height: 21px;
    position: $absolute;
    bottom: $full-em * 5;
    left: $full-em * 3;
    width: 70px;

    a {
      @include radius(2px, $all: true);

      display: $disblock;
      height: $full-size;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      width: 30px;

      &.lang-fa {
        background: url('../images/flag-fa.png') no-repeat center center;
      }

      &.lang-en {
        background: url('../images/flag-en.png') no-repeat center center;
      }
    }


  }

  .search-container {
    @extend .transition-normal;
    @include radius(50px, $all: true);

    background-color: $ultralight-gray-color;
    border: solid 1px $gray-color;
    height: 35px;
    position: $absolute;
    bottom: $full-em * 2;
    left: $full-em * 2;
    width: $full-size;
    max-width: 250px;

    &:hover {
      background-color: $pure-white-color;
    }

    input[type="text"] {
      @extend .transition-normal;
      @include radius(50px, $all: true);

      border: none;
      background-color: transparent;

      &:focus {
        background-color: $pure-white-color;
      }
    }

    button {
      @include radius(50px, $ziro, $ziro, 50px);

      border: none;
      background: none;
      height: $full-size;
      position: $absolute;
      top: $ziro;
      left: $ziro;
      width: 40px;

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }
// end of header of website

// bottom navigation of website
.nav-bottom {
  @extend .wrapper;
  @extend .round-corner;
  @extend .clear;

  background-color: $ultralight-orange-color;
  border: solid 1px $ultralight-orange-border-color;
  margin-bottom: $half-em;
  height: auto;
  min-height: 40px;
  width: $full-size;

  .navbar-default {
    background-color: transparent;
    border: $none;
    height: auto;
    min-height: 40px;
    margin-bottom: $ziro;

    .navbar-nav {
      padding: $ziro;
      margin: $ziro;
      width: $full-size;

      > li {
        height: 40px;
        min-width: 70px;

        &:not(:last-child) {
          border-left: solid 1px $ultra-orange-border-color;
        }

        &:first-child:hover,
        &:first-child:focus,
        &:first-child:active {
          a {
            @include radius($ziro, 3px, 3px, $ziro);
          }
        }

        > a {
          @extend .transition-normal;

          color: $dark-black-color;
          padding: $ziro $half-em;
          display: $disblock;
          height: $full-size;
          line-height: 35px;
          width: $full-size;

          &:hover,
          &:focus,
          &:active {
            background-color: $white-color;
          }
        }
      }
    }
  }
}
// end of bottom navigation of website

// main container stylesheet
.main-container {
  @extend .wrapper;
  @extend .clear;

  margin-bottom: $half-em;
  height: auto;
  width: $full-size;
  display: $disblock;
}
// end of main container stylesheet

// main content of website stylesheet
.content {
  height: auto;
  min-height: 500px;
  width: 76.8%;

  .left-side {
    @extend .box-style;

    width: 24.5%;

    &.calendar {
      height: 235px;
    }

    &.weather {
      height: 145px;

      h3 {
        margin-bottom: $ziro;
      }

      iframe {
        height: 100px;
        width: $full-size;
      }
    }
  }

  .right-side {
    @include radius(3px, $all: true);
    @extend .box-style;

    overflow: hidden;
    width: 74.6%;

    &.slider {
      height: 270px;

      .owl-carousel {
        @include radius(3px, $all: true);

        .item {
          width: $full-size !important;

          img {
            @include radius(3px, $all: true);

            max-width: $full-size;
            width: $full-size;
          }
        }
      }
    }

    &.text-slider {
      height: 110px;

      .textSlider {
        line-height: 36px;
        padding: $ziro 5px;
        height: 60px;
        overflow: hidden;

        .typing {
          margin: $ziro;
          padding: $ziro;

          a {
            color: $dark-black-color !important;
            text-decoration: $none;

            div {
              height: 30px;
              overflow: hidden;
              width: $full-size;
            }

            .viewMore {
              @extend .clear;

              color: $red-color;
              padding: $half-em;
            }
          }
        }
      }
    }
  }
}
// end of main content of website stylesheet

// right side menu stylesheet
.right-side-menu {
  @extend .box-style;

  height: 650px;
  overflow: hidden;
  width: 22.5%;

  nav {
    width: $full-size;

    ul {
      list-style: none;
      margin: $ziro;
      padding: $ziro;

      li {
        min-height: 35px;
        width: $full-size;

        &:not(:last-child) {
          border-bottom: solid 1px $ultralight-gray-color;
        }

        ul {
          border-right: solid 3px $gray-color;
          background-color: $medium-white-color;

          li {
            &:first-child {
              border-top: solid 1px $ultralight-gray-color;
            }

            a {
              color: $pure-black-color;
              font-size: .9em;
            }
          }
        }

        a {
          @extend .transition-normal;

          height: $full-size;
          line-height: 35px;
          position: $relative;
          padding-right: $half-em;
          width: $full-size;

          &::before {
            @extend .transition-normal;

            background-color: $red-color;
            content: '';
            height: $full-size;
            position: $absolute;
            top: $ziro;
            right: $ziro;
            width: $ziro;
          }

          &:hover,
          &:active,
          &:focus {
            padding-right: $full-em;
            text-decoration: $none;

            &::before {
              width: 3px;
            }
          }

          &.collapsed {
            i {
              @include transform-rotate(180);
            }
          }

          i {
            @extend .transition-normal;

            font-size: 1.3em;
            position: $absolute;
            top: $half-em;
            left: .7em;
          }
        }
      }
    }
  }

  .panel-collapse.collapse.in {
    overflow: auto;
    max-height: 380px;
  }
}
// end of right side menu stylesheet

// box stylesheet
.box {
  @extend .mb;

  h3 {
    border-bottom: solid 1px $ultralight-orange-color;
    font-size: 1.1em;
    height: 35px;
    margin: $ziro $ziro $half-em;
    padding-right: $half-em;
    width: $full-size;

    span {
      border-bottom: solid 1px $header-border-blue-color;
      display: $distable;
      height: $full-size;
      line-height: 34px;
      width: auto;

      i {
        color: $header-border-blue-color;
        margin-left: 5px;
        position: $relative;
        top: 2px;
      }
    }
  }

  &.full-box {
    @extend .box-style;

    width: $full-size;

    .content {
      padding: $full-em;
      width: $full-size;

      p {
        width: $full-size;
      }
    }

  }
}
// end of box stylesheet

// tab menu stylesheet
.tab-menu {
  @extend .wrapper;
  @extend .clear;
  @extend .box-style;

  .nav-tabs {
    li {
      height: 40px;
      width: 100px;

      &.active {

        a {
          color: $medium-brown-color !important;

          &::before {
            background-color: $ultra-dark-orange-color;
          }
        }
      }

      a {
        @extend .transition-normal;
        @include radius($ziro, $all: true);

        background-color: transparent !important;
        border: $none !important;
        padding: $ziro !important;
        position: $relative;
        display: $disblock !important;
        height: $full-size;
        line-height: 40px !important;
        width: $full-size;

        &:hover,
        &:active,
        &:focus {
          @include radius($ziro, $all: true);

          background-color: transparent;
          border: $none;
        }

        &::before {
          @extend .transition-normal;

          background-color: transparent;
          content: '';
          height: 1px;
          position: $absolute;
          bottom: $ziro;
          left: $ziro;
          right: $ziro;
          width: $full-size;
        }
      }
    }
  }

  .tab-content {
    padding: $full-em;
    min-height: 215px;
  }
}
//  end of tab menu stylesheet

// footer of website stylesheet
footer {
  @extend .wrapper;
  @extend .clear;
  @extend .box-style;

  background-color: $dark-gray-color;
  border: solid 1px $ultradark-gray-color;
  padding-top: $full-em;
  margin-bottom: $half-em;
  height: auto;
  min-height: 200px;
  width: $full-size;

  .footer-nav {
    padding: $ziro 20px;
    width: 20%;

    .nav-title {
      color: $white-color;
      border-bottom: solid 1px $light-gray-color;
      padding-bottom: .2em;
      margin-bottom: 15px;
    }

    .nav-item {
      line-height: 28px;

      > a {
        color: $gray-color;
      }
    }
  }
}
// end of footer of website stylesheet

// copyright of website stylesheet
.cpyrgt {
  @include box-shadow(0, -1px, 3px, $gray-color);

  color: $ultradark-gray-color;
  background-color: $ultralight-gray-color;
  border-top: solid 1px $gray-color;
  padding: $ziro $half-em;
  font-size: .8em;
  height: 28px;
  line-height: 28px;
  width: $full-size;

  .logo-holder {
    @include radius($full-size, $all: true);

    margin: .3em 0 0 .5em;
    display: $disblock;
    height: 20px;
    width: 20px;

    img {
      @include radius($full-size, $all: true);

      border: solid 1px $ultralight-orange-border-color;
      display: $disblock;
      height: $full-size;
      width: $full-size;
    }
  }

  #goToTop {
    @include opacity(0);
    @include radius($full-size, $all: true);
    @extend .transition-normal;

    color: $pure-white-color;
    background-color: $ultralight-orange-color;
    border: solid 1px $medium-brown-color;
    text-align: $center;
    height: 40px;
    line-height: 35px;
    position: $fixed;
    bottom: 40px;
    right: 30px;
    cursor: pointer;
    visibility: hidden;
    width: 40px;

    &.active {
      @include opacity(1);

      visibility: visible;
    }

    i {
      color: $medium-brown-color;
    }
  }
}
// end of copyright of website stylesheet
