@import "variables";
@import "normalize-scss/sass/normalize";
@import "mixins";
@import "essential";
@import "samim";
@import "font-awesome/scss/font-awesome";

body {
  background-color: $medium-white-color !important;
  font-family: $font-stack;
  font-size: $body-default-font-size;
  margin: $zero;
  padding: $zero;
}

// top navigation of website
.nav-top {
  height: auto;
  margin: 2em auto $half-em;
  min-height: $nav-height;
  padding: $zero $half-em;
  width: $full-size;

  @extend %transition-normal;
  @extend %wrapper;
  @extend %clear;
  @extend %box-style;

  &.sticky {
    border: transparent;
    border-bottom: solid 1px $ultralight-gray-color;
    left: $zero;
    margin-top: $zero;
    top: $zero;
    right: $zero;
    z-index: 2;
    position: $fixed;
    max-width: $full-size;
    width: $full-size;

    @include radius($zero, $all: true);
    @include box-shadow($zero, 1px, 5px, $light-gray-color);
    @extend %transition-normal;

    .navbar-default {
      @include radius($zero, $all: true);
    }
  }

  .navbar {
    margin-bottom: $zero;
  }

  .navbar-default {
    background-color: transparent;
    border:none;
    min-height: $nav-height - 2px;
    max-width: $full-size;

    @extend %round-corner;

    .navbar-nav {
      padding: $zero;
    }

    .navbar-nav > li {
      height: $nav-height - 2px;

      @extend %transition-normal;

      &:nth-child(2) {
        margin-right: 5px;
      }

      > a {
        color: $dark-orange-color;
        width: $full-size;
        height: $full-size;
        position: $relative;
        line-height: $nav-height - 2px;
        padding: $zero $full-em;
        text-align: $center;

        @extend %transition-normal;

        &::before {
          background-color: $ultralight-orange-border-color;
          content: '';
          height: 2px;
          position: $absolute;
          bottom: $zero;
          right: $zero;
          width: $zero;

          @extend %transition-normal;
        }

        &:hover::before {
          width: $full-size;
        }

        &.icons {
          color: $medium-orange-color;
        }
      }

      &:hover {
        background: $white-color;
      }

      &.logo-holder {
        &:hover {
          background: none;
        }

        a {
          line-height: 45px;
          padding: $zero;

          img {
            border: solid 1px $ultralight-orange-border-color;
            width: 40px;

            @include radius($full-size, $all: true);
          }
        }
      }
    }
  }
}
// end of top navigation of website

// header of website
header {
  background: url("../images/tav-banner2.jpg") right center;
  margin-bottom: $half-em;
  height: 200px;
  position: $relative;
  width: $full-size;

  @extend %wrapper;
  @extend %clear;
  @extend %box-style;
  @extend %transition-normal;

  &.sticky-header {
    margin-top: 80px;
  }

  &::before {
    content: '';
    position: $absolute;
    width: 77px;
    height: 79px;
    background: url("../images/flag.png") no-repeat;
    left: -5px;
    top: -5px;
  }
}

  .search-container {
    background-color: $ultralight-gray-color;
    border: solid 1px $gray-color;
    height: 35px;
    position: $absolute;
    bottom: $full-em * 2;
    left: $full-em * 2;
    width: $full-size;
    max-width: 250px;

    @extend %transition-normal;
    @include radius(50px, $all: true);

    &:hover {
      background-color: $pure-white-color;
    }

    input[type="text"] {
      border: none;
      background-color: transparent;

      @extend %transition-normal;
      @include radius(50px, $all: true);

      &:focus {
        background-color: $pure-white-color;
      }
    }

    button {
      border: none;
      background: none;
      height: $full-size;
      position: $absolute;
      top: $zero;
      left: $zero;
      width: 40px;

      @include radius(50px, $zero, $zero, 50px);

      &:focus,
      &:hover {
        outline: none;
      }
    }
  }
// end of header of website

// bottom navigation of website
.nav-bottom {
  background-color: $ultralight-orange-color;
  border: solid 1px $ultralight-orange-border-color;
  margin-bottom: $half-em;
  height: auto;
  min-height: 40px;
  width: $full-size;

  @extend %wrapper;
  @extend %round-corner;
  @extend %clear;

  .navbar-default {
    background-color: transparent;
    border: $none;
    height: auto;
    min-height: 40px;
    margin-bottom: $zero;

    .navbar-nav {
      padding: $zero;
      margin: $zero;
      width: $full-size;

      > li {
        height: 40px;
        min-width: 70px;

        &:not(:last-child) {
          border-left: solid 1px $ultra-orange-border-color;
        }

        &:first-child:hover,
        &:first-child:focus,
        &:first-child:active {
          a {
            @include radius($zero, 3px, 3px, $zero);
          }
        }

        .dropdown-toggle {
          padding-left: $full-em + .5;
        }

        .dropdown-menu {
          right: -1px;
        }

        .lang {
          -moz-background-size: cover;
          -webkit-background-size: cover;
          background-size: cover;
          display: $disblock;
          height: $full-size;
          padding: $zero !important;
          width: 30px;

          @include radius(2px, $all: true);

          &.lang-fa {
            background: url('../images/flag-fa.png') no-repeat center center;
          }

          &.lang-en {
            background: url('../images/flag-en.png') no-repeat center center;
          }
        }

        > a {
          color: $dark-black-color;
          line-height: 35px;
          padding: $zero $half-em;

          @extend %transition-normal;
          @extend %full-of-parent;

          &:hover,
          &:focus,
          &:active {
            background-color: $white-color;
          }

          .fa {
            @extend %ml;

            display: $disblock;
            left: $zero;
            position: $absolute;
            top: 12px;
          }
        }
      }
    }
  }
}
// end of bottom navigation of website

// main container stylesheet
.main-container {
  display: $disblock;
  height: auto;
  margin-bottom: $half-em;
  width: $full-size;

  @extend %wrapper;
  @extend %clear;
}
// end of main container stylesheet

// main content of website stylesheet
.content {
  height: auto;
  min-height: 500px;
  width: 76.8%;

  .left-side {
    width: 24.5%;

    @extend %box-style;

    &.calendar {
      height: 235px;
    }

    &.weather {
      height: 145px;

      h3 {
        margin-bottom: $zero;
      }

      iframe {
        height: 100px;
        width: $full-size;
      }
    }
  }

  .right-side {
    overflow: $hidden;
    width: 74.6%;

    @include radius(3px, $all: true);
    @extend %box-style;

    &.slider {
      height: 270px;

      .owl-carousel {
        @include radius(3px, $all: true);

        .item {
          width: $full-size !important;

          img {
            max-width: $full-size;
            width: $full-size;

            @include radius(3px, $all: true);
          }
        }
      }
    }

    &.text-slider {
      height: 110px;

      .textSlider {
        height: 60px;
        line-height: 36px;
        overflow: $hidden;
        padding: $zero 5px;

        .typing {
          list-style: $none;
          margin: $zero;
          padding: $zero;

          a {
            color: $dark-black-color !important;
            float: $right;
            text-decoration: $none;

            @extend %full-of-parent;

            div {
              height: 30px;
              overflow: $hidden;
              width: $full-size;
            }

            .viewMore {
              color: $red-color;
              padding: $half-em;

              @extend %clear;
            }
          }
        }
      }
    }
  }
}
// end of main content of website stylesheet

// right side menu stylesheet
.right-side-menu {
  height: 650px;
  overflow: $hidden;
  width: 22.5%;

  @extend %box-style;

  nav {
    width: $full-size;

    ul {
      list-style: none;
      margin: $zero;
      padding: $zero;

      li {
        min-height: 35px;
        width: $full-size;

        &:not(:last-child) {
          border-bottom: solid 1px $ultralight-gray-color;
        }

        ul {
          background-color: $white-color;
          border-right: solid 3px $gray-color;

          li {
            &:first-child {
              border-top: solid 1px $ultralight-gray-color;
            }

            a {
              color: $pure-black-color;
              font-size: .9em;
            }
          }
        }

        a {
          line-height: 35px;
          padding-right: $half-em;
          position: $relative;

          @extend %transition-normal;
          @extend %full-of-parent;

          &::before {
            background-color: $red-color;
            content: '';
            height: $full-size;
            position: $absolute;
            right: $zero;
            top: $zero;
            width: $zero;

            @extend %transition-normal;
          }

          &:hover,
          &:active,
          &:focus {
            padding-right: $full-em;
            text-decoration: $none;

            &::before {
              width: 3px;
            }
          }

          &.collapsed {
            i {
              @include transform-rotate(180);
            }
          }

          i {
            font-size: 1.3em;
            left: .7em;
            position: $absolute;
            top: $half-em;

            @extend %transition-normal;
          }
        }
      }
    }
  }

  .panel-collapse.collapse {
    direction: $dirright;
    max-height: 390px !important;
    overflow: auto;
  }
}
// end of right side menu stylesheet

// box stylesheet
.box {
  @extend %mb;

  h3 {
    border-bottom: solid 1px $ultralight-orange-color;
    font-size: 1.1em;
    height: 35px;
    margin: $zero $zero $half-em;
    padding-right: $half-em;
    width: $full-size;

    span {
      border-bottom: solid 1px $header-border-blue-color;
      display: $distable;
      height: $full-size;
      line-height: 34px;
      width: auto;

      i {
        color: $header-border-blue-color;
        margin-left: 5px;
        position: $relative;
        top: 2px;
      }
    }
  }

  &.full-box {
    width: $full-size;

    @extend %box-style;

    .content {
      min-height: 100px;
      padding: $full-em;
      width: $full-size;

      p {
        line-height: 2;
        width: $full-size;
      }
    }

  }
}
// end of box stylesheet

// tab menu stylesheet
.tab-menu {
  .nav-tabs {
    li {
      height: 40px;
      width: 100px;

      &.active {

        a {
          color: $medium-brown-color !important;

          &::before {
            background-color: $ultra-dark-orange-color;
          }
        }
      }

      a {
        background-color: transparent !important;
        border: $none !important;
        line-height: 40px !important;
        padding: $zero !important;
        position: $relative;

        @extend %transition-normal;
        @extend %full-of-parent;
        @include radius($zero, $all: true);

        &:hover,
        &:active,
        &:focus {
          background-color: transparent;
          border: $none;

          @include radius($zero, $all: true);
        }

        &::before {
          background-color: transparent;
          bottom: $zero;
          content: '';
          height: 1px;
          left: $zero;
          position: $absolute;
          right: $zero;
          width: $full-size;

          @extend %transition-normal;
        }
      }
    }
  }

  @extend %wrapper;
  @extend %clear;
  @extend %box-style;

  .tab-content {
    min-height: 215px;
    padding: $full-em;
  }
}
//  end of tab menu stylesheet

// footer of website stylesheet
footer {
  background-color: $dark-blue-color;
  border: solid 1px $ultradark-gray-color;
  height: auto;
  margin-bottom: $half-em;
  min-height: 200px;
  padding-top: $full-em;
  width: $full-size;

  @extend %wrapper;
  @extend %clear;
  @extend %box-style;

  .footer-nav {
    padding: $zero 20px;
    width: 20%;

    .nav-title {
      border-bottom: solid 1px $light-gray-color;
      color: $orange-color;
      margin-bottom: 15px;
      padding-bottom: .2em;

      > i {
        color: $ultralight-orange-border-color;
        margin-left: $half-em;
      }
    }

    .nav-item {
      line-height: 28px;

      a {
        color: $white-color;
        overflow: $hidden;
        position: $relative;

        @extend %transition-normal;
        @extend %full-of-parent;

        &:hover {
          color: $pure-white-color;
          padding-right: $full-em;

          i {
            color: $light-cyan-color;
            right: $zero;
          }
        }

        i {
          color: $ultralight-orange-border-color;
          position: $absolute;
          right: -$full-size;
          top: 9px;

          @extend %transition-normal;
        }
      }
    }
  }
}
// end of footer of website stylesheet

// copyright of website stylesheet
.cpyrgt {
  background-color: $ultralight-gray-color;
  border-top: solid 1px $gray-color;
  color: $ultradark-gray-color;
  font-size: .8em;
  height: 28px;
  line-height: 28px;
  padding: $zero $half-em;
  width: $full-size;

  @include box-shadow(0, -1px, 3px, $gray-color);

  .logo-holder {
    display: $disblock;
    height: 20px;
    margin: .3em $zero $zero .5em;
    width: 20px;

    @include radius($full-size, $all: true);

    img {
      border: solid 1px $ultralight-orange-border-color;

      @extend %full-of-parent;
      @include radius($full-size, $all: true);
    }
  }

  #goToTop {
    background-color: $ultralight-orange-color;
    border: solid 1px $medium-brown-color;
    bottom: 40px;
    color: $pure-white-color;
    cursor: pointer;
    height: 40px;
    line-height: 35px;
    position: $fixed;
    right: 30px;
    text-align: $center;
    visibility: $hidden;
    width: 40px;

    @include opacity(0);
    @include radius($full-size, $all: true);
    @extend %transition-normal;

    &.active {
      visibility: visible;

      @include opacity(1);
    }

    i {
      color: $medium-brown-color;
    }
  }
}
// end of copyright of website stylesheet
