// font variables
$body-default-font-size: 14px;
$font-stack: Samim, tahoma, serif !important;

// default property
$center: center;
$justify: justify;
$right: right;
$left: left;
$dirleft: ltr;
$dirright: rtl;
$none: none;

// color variables
$pure-white-color: #fff;
$white-color: #fafafa;
$medium-white-color: #ededed;
$ultralight-gray-color: #e1e1e1;
$gray-color: #ccc;
$light-gray-color: #8e8e8e;
$light-normal-gray-color: rgba(54, 54, 54, .6);
$medium-gray-color: #555;
$dark-gray-color: #454545;
$ultradark-gray-color: #363636;
$light-black-color: #252525;
$orange-color: #f1af10;
$light-orange-color: #ccaca2;
$ultralight-orange-color: #ffdca8;
$ultralight-orange-border-color: #efbf78;
$ultra-orange-border-color: #fbd59d;
$dark-orange-color: #b37028;
$ultra-dark-orange-color: #ff5a00;
$medium-orange-color: #e08422;
$medium-brown-color: #bd611d;
$red-color: #e54140;
$dark-blue-color: #34495e;
$subject-title-color: #077d84;
$medium-blue-color: #5c95b1;
$header-border-blue-color: #1cc3b0;
$dark-black-color: #252525;
$pure-black-color: #000;
$cyan-color: #18deb6;
$from-gredient1: #ff882c;
$to-gredient1: #fe5454;
$light-cyan-color: #16ebc0;

// positions & displays
$fixed: fixed;
$relative: relative;
$absolute: absolute;
$disblock: block;
$distable: table;

// size variables
$ziro: 0;
$full-size: 100%;
$half-size: 50%;
$logowidth: 40px;
$headerwidth: 60px;
$headerwidthactivated: 270px;
$headerheight: 40px;
$footerheight: 30px;
$half-em: .5em;
$half-rem: .5rem;
$full-em: 1em;
$full-rem: 1rem;
$nav-height: 50px;

// formcontainer variables
$formcontainerwidth: 1000px;
$formleftside: 7%;
$formcontent: 93%;
$formcontainerheight: 500px;
